*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3,
p {
  margin-bottom: 1rem;
  opacity: 0.8;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.3rem;
  line-height: 1.25em;
}

html {
  transition: var(--animation-transition-duration-long) background-color
    var(--animation-timing-function);
}

body {
  color: var(--color-body-text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: underline;
  color: var(--color-body-link-color);
  cursor: pointer;
}

a.active-link {
  color: var(--color-body-link-color-active);
}

a:hover,
a:active,
a:focus {
  outline: none;
}

.keyboard-nav a:focus {
  outline: var(--focus-outline);
}

body #content {
  transition: var(--animation-transition-duration-short) opacity
    var(--animation-timing-function);
  padding: 1rem 2rem;
  max-width: var(--content-max-width);
  margin: var(--nav-menu-toggle-container-outer-size) auto;
}

body.fade #content {
  overflow: hidden;
  opacity: 0;
}
