*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
  margin-bottom: 1rem;
}

section,
article > header {
  padding-bottom: 1.5rem;
}

h1,
h2,
h3 {
  margin-bottom: 0.3rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

p {
  font-size: 1.3rem;
  line-height: 1.4em;
}

small {
  font-size: 1rem;
}

.tight {
  margin-bottom: 0;
}

.italic {
  font-style: italic;
}

.inline-block {
  display: inline-block;
}

html {
  transition: var(--animation-transition-duration-long) background-color
    var(--animation-timing-function);
}

body {
  color: var(--color-body-text);
  font-family: 'Courier New', 'Courier', monospace;
  display: grid;
  grid-template-rows: var(--nav-menu-toggle-container-outer-size) auto minmax(auto, max-content);
  grid-template-columns: minmax(0, auto) minmax(0, var(--content-max-width)) minmax(
      0,
      auto
    );
  min-height: 100vh;
  padding-top: 0;
  padding-top: env(safe-area-inset-top,0);
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

    body { 
      min-height: -webkit-fill-available;
    }
}}

@media all and (display-mode: standalone) {
  body {
    min-height: 100vh;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--color-body-link-color);
  cursor: pointer;
  border-bottom: 0.1em dashed var(--color-body-link-color);
}

a:hover {
  border-bottom-style: solid;
}

a.active-link {
  color: var(--color-body-link-color-active);
}

a:hover,
a:active,
a:focus {
  outline: none;
  outline-offset: 0.5rem;
}

.keyboard-nav a:focus {
  outline: var(--focus-outline);
}

body main {
  transition: var(--animation-transition-duration-short) opacity
    var(--animation-timing-function);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 0 1.5rem;
}

body footer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
}

body footer p {
  font-size: 0.8rem;
  opacity: 0.8;
}

body.fade main {
  overflow: hidden;
  opacity: 0;
}

@media print {
  html {
    background: white;
  }

  body {
    color: black;
  }

  a {
    color: black;
    text-decoration: underline;
  }

  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1.2rem;
  }
  
  p {
    font-size: 1rem;
  }
  
  small {
    font-size: 0.8rem;
  }
}