:root {
  --nav-menu-toggle-stroke-color: #fff;
  --nav-menu-toggle-container-color: transparent;
  --nav-menu-toggle-stroke-height: 0.3rem;
  --nav-menu-toggle-stroke-margin-top: -0.15rem; /* - half stroke height */
  --nav-menu-toggle-stroke-border-radius: 0;
  --nav-menu-toggle-stroke-spacing: 0.8rem;
  --nav-menu-toggle-stroke-spacing-negative: -0.8rem;
  --nav-menu-toggle-stroke-animation-duration: 0.2s;
  --nav-menu-toggle-stroke-animation-timing-function: ease-in-out;
  --nav-menu-toggle-container-inner-size: 2.4rem;
  --nav-menu-toggle-container-outer-size: 4.8rem; /* inner size + 2*padding */
  --nav-menu-toggle-container-padding: 1.2rem;
  --nav-menu-toggle-container-border-radius: 0;
}

@keyframes topStroke {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(var(--nav-menu-toggle-stroke-spacing));
  }
  100% {
    transform: translateY(var(--nav-menu-toggle-stroke-spacing)) rotate(90deg);
  }
}
@keyframes middleStroke {
  50% {
    transform: none;
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes bottomStroke {
  50% {
    transform: translateY(var(--nav-menu-toggle-stroke-spacing-negative));
  }
  50.1% {
    transform: translateY(var(--nav-menu-toggle-stroke-spacing-negative))
      scaleX(0);
  }
  100% {
    transform: translateY(var(--nav-menu-toggle-stroke-spacing-negative))
      scaleX(0);
  }
}

@keyframes topStrokeR {
  0% {
    transform: translateY(var(--nav-menu-toggle-stroke-spacing)) rotate(90deg);
  }
  50% {
    transform: translateY(var(--nav-menu-toggle-stroke-spacing));
  }
  100% {
    transform: none;
  }
}
@keyframes middleStrokeR {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: none;
  }
}
@keyframes bottomStrokeR {
  0% {
    transform: translateY(var(--nav-menu-toggle-stroke-spacing-negative))
      scaleX(0);
  }
  50% {
    transform: translateY(var(--nav-menu-toggle-stroke-spacing-negative));
  }
  100% {
    transform: none;
  }
}

#menu {
  position: relative;
}

#menu input,
#menu-toggle {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  width: var(--nav-menu-toggle-container-outer-size);
  height: var(--nav-menu-toggle-container-outer-size);
}

#menu input {
  display: block;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-tap-highlight-color: transparent;
}

#menu-toggle {
  padding: var(--nav-menu-toggle-container-padding);
  background: var(--nav-menu-toggle-container-color);
  border-radius: var(--nav-menu-toggle-container-border-radius);
  z-index: 1;
  user-select: none;
  -webkit-user-select: none;
}

#menu-toggle__strokes,
#menu-toggle__strokes::after,
#menu-toggle__strokes::before {
  display: block;
  position: absolute;
  background: var(--nav-menu-toggle-stroke-color);
  width: var(--nav-menu-toggle-container-inner-size);
  height: var(--nav-menu-toggle-stroke-height);
  border-radius: var(--nav-menu-toggle-stroke-border-radius);
  animation-duration: var(--nav-menu-toggle-stroke-animation-duration);
  animation-fill-mode: forwards;
  animation-timing-function: var(
    --nav-menu-toggle-stroke-animation-timing-function
  );
}

#menu-toggle__strokes::after,
#menu-toggle__strokes::before {
  content: '';
}

#menu-toggle__strokes {
  top: 50%;
  margin-top: var(--nav-menu-toggle-stroke-margin-top);
  animation-name: middleStrokeR;
}

#menu-toggle__strokes::before {
  top: var(--nav-menu-toggle-stroke-spacing-negative);
  animation-name: topStrokeR;
}

#menu-toggle__strokes::after {
  bottom: var(--nav-menu-toggle-stroke-spacing-negative);
  animation-name: bottomStrokeR;
}

#menu > input:checked ~ #menu-toggle > #menu-toggle__strokes {
  animation-name: middleStroke;
}

#menu > input:checked ~ #menu-toggle > #menu-toggle__strokes::before {
  animation-name: topStroke;
}

#menu > input:checked ~ #menu-toggle > #menu-toggle__strokes::after {
  animation-name: bottomStroke;
}

#menu-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: var(--nav-menu-toggle-container-outer-size) 1rem;
  background: var(--color-nav-background);
  color: var(--color-nav-text);
  opacity: 0;
  transition: 320ms transform ease-in-out, 160ms opacity ease-in-out;
  transform: none;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu > input:checked ~ #menu-content {
  opacity: 1;
  transform: none;
  pointer-events: all;
}

@media (min-width: 480px) {
  #menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: 320ms opacity ease-in-out;
    cursor: pointer;
    pointer-events: none;
  }

  #menu > input:checked ~ #menu-backdrop {
    opacity: 1;
    pointer-events: all;
  }

  #menu-content {
    width: 50%;
    transform: translateX(100%);
    transition-duration: 320ms;
  }
}

#menu-content a {
  font-size: 2rem;
  color: var(--color-nav-text);
  padding: 1rem;
  display: block;
}

#menu-content a.active-link {
  cursor: default;
  pointer-events: none;
  opacity: 0.2;
}

#menu-content ul {
  width: 100%;
  max-width: 40rem;
  text-align: center;
}

#menu-content li {
  list-style: none;
  background: rgba(255, 255, 255, 0.02);
}

#menu-content li:first-child ~ li {
  margin-top: 1rem;
}
