:root {
  --color-body-text: #fff;
  --color-body-link-color: #fff;
  --color-body-link-color-active: #fff;
  --color-nav-background: #141414;
  --color-nav-text: rgba(255, 255, 255, 0.8);
  --color-nav-stroke-color: #fff;
  --color-nav-container-color: transparent;

  --focus-outline: 6px dashed #fff;
  --content-max-width: 45rem;
  --animation-timing-function: ease-in-out;
  --animation-transition-duration-long: 320ms;
  --animation-transition-duration-short: 200ms;

  --nav-menu-toggle-stroke-height: 2px;
  --nav-menu-toggle-stroke-border-radius: 0;
  --nav-menu-toggle-stroke-spacing: 12px;
  --nav-menu-toggle-container-inner-size: 40px;
  --nav-menu-toggle-container-outer-size: 88px;
  --nav-menu-toggle-stroke-animation-timing-function: ease-in-out;
}
