---
---

<main class="z-10 h-full flex flex-col gap-4 sm:gap-6 items-center justify-center text-white">
    <p class="text-neutral-400">Mattias Alm</p>
    <h1>
        dev, architect<span class="animate-blink">_</span>
    </h1>
    <p>Jönköping, Sweden</p>
    <p><a href="https://github.com/mattiasalm">GitHub</a></p>
    <p><a href="https://www.linkedin.com/in/mattiasalm/">LinkedIn</a></p>
</main>