---
import "@fontsource/cutive-mono";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Mattias Alm</title>
  </head>
  <body class="grid min-h-[100dvh] bg-neutral-900">
    <slot />
  </body>
</html>
